.button,
.settings-button {
	position: relative;
	background: $color-2;
	color: $color-3;
	text-decoration: none;
	// box-shadow: 10px 11px 0 0px lighten($color-1,30%);
	// outline: 5px solid $color-2;
	//margin: 0.5rem 0;
	display: inline-block;
	text-align: center;
	transform: translate(0);
	transition: all 100ms ease-in-out;
	z-index: 1;
	// &:hover {
	// 	transform: translate(5px, 5px);
	// 	box-shadow: 5px 6px 0 0px lighten($color-1,30%);
	// 	outline: 0px solid $color-2;
	// 	&:active {
	// 		transform: translate(8px, 9px);
	// 		box-shadow: 2px 3px 0 0px lighten($color-1,30%);
	// 		outline: 0px solid $color-2;
	// 	}
	// }
	&.block {
		display: block;
		// padding: 0.7rem 0;
	}
}
.button {
	//overflow: hidden;
	background: transparent;
	border-bottom: 0;
	&:after {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		background: lighten($color-1,30%);
		top: 10px;
		left: 10px;
		z-index: -1;
		border-bottom: 0;
		-webkit-transition: all 1s cubic-bezier(0.26, 0.35, 0.14, 0.65);
		transition: all 0.3s cubic-bezier(0.26, 0.35, 0.14, 0.65);
	}
	&:hover,
	&:active,
	&:focus {
		&:after {
			top: 0px;
			left: 0px;
		}
	}
	.button-inner {
		border: 2px solid $color-3;
		display: block;
		width: 100%;
		height: 100%;
		padding: 0.7rem 1rem;
	}
}

.settings-button {
	outline: none;
}

.check {
	background: $color-3;
	display: block;
	padding: 0.5rem 1.5rem;
	color: $color-2;
	border-radius: 0.15rem;
	cursor: pointer;
	margin-bottom: 0.5rem;
	span {
		float: right;
	}
	&:focus-within {
		outline: 4px solid $color-1;
		outline-offset: 2px;
	}
	[type="checkbox"] {
		position: absolute;
		left: -9999px;
	}
	[type="checkbox"] + span::before {
		content: "off";
		color: $color-4;
		font-weight: bold;
	}
	[type="checkbox"]:checked + span::before {
		content: "on";
		color: $color-1;
		font-weight: bold;
	}
}

.totop {
	text-transform: uppercase;
	opacity: 1;
	font-size: 1rem;
	background: $color-3;
	color: $color-2;
	padding: 0.3rem 0.5rem;
	margin-top: 0.5rem;
	display: inline-block;
}
