footer {
  font-size: 1rem;
  padding: 3rem 0;
  .site-meta {
    text-align: center;
    ul {
      li {
        a {
          svg {
            height: 0.75rem;
            width: 0.75rem;
          }
        }
      }
    }
  }
}