.search {
  margin-bottom: 2.5rem;
  .search-label {
    opacity: 0;
  }
  .search-input {
    width: calc(100% - 3rem);
    background: none;
    border: 0;
    background: $color-2;
    font-size: inherit;
    padding: 0.5rem ;
    color: $color-3;
    border-radius: 0;
  }
  .search-button {
    background: $color-2;
    width: 2.3rem;
    border: none;
    padding: 0.36rem;
    @media(max-width: 750px) {
      padding: 0.35rem;
    }
    vertical-align: bottom;
    cursor: pointer;
    .screen-reader-text {
      position: absolute!important;
      clip: rect(1px,1px,1px,1px);
    }
    svg {
      height: calc(2em + 0.7vw);
      g {
        fill: $color-3;
      }
    }
  }
}
