header {
	// box-shadow: inset 0px 80px 80px 0px rgba($color-2,1);
	background-image: url("/assets/img/bg.svg");
	background-color: $color-2;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
	color: $color-3;
	@media (max-width: $breakpoint-1) {
		text-align: center;
		min-height: 100vh;
	}
	.site-name {
		font-size: 2.75rem;
		margin: 7.5rem 0 0 0;
		font-weight: bold;
		line-height: 1;
	}
	p {
		display: inline-block;
		margin: 0.35rem 0 12rem 0;
	}
	&.blog,
	&.about,
	&.snippets {
		background-image: none;
		padding-bottom: 2rem;
		background-image: url(/assets/img/bg.svg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: bottom;
		@media (max-width: $breakpoint-1) {
			text-align: auto;
			min-height: auto;
		}
		h1 {
			display: inline-block;
		}
	}
	&.about {
		padding-bottom: 0 !important;
		text-align: center;
		position: relative;
		img {
			position: relative;
			top: 0.415rem;
		}
	}
}

.subheader {
	padding: 5rem 0;
	@media (max-width: $breakpoint-1) {
		text-align: center;
	}
}
