// General
$gutter: 20px;
$breakpoint-1: 600px;

// Colors
$color-1: #5982db;
$color-2: #f2f2f2;
$color-2-5: rgb(210, 210, 210);
$color-3: #0d0f12;
$color-4: #ff5429;
$color-5: #353537;

// Typography
//@import url('https://fonts.googleapis.com/css?family=Asap:400,700');
@font-face {
	font-family: "Asap", sans-serif;
	font-style: normal;
	font-weight: 400;
	src: local("Asap Regular"), local("Asap-Regular"),
		url(/assets/fonts/asap.ttf) format("truetype");
}
//@font-face {
//  font-family: 'Asap';
//  font-style: normal;
//  font-weight: 700;
//  src: local('Asap Bold'), local('Asap-Bold'), url(/assets/fonts/asap_bold.ttf) format('truetype');
//}
$font-type-1: "Asap", sans-serif;
$font-size: 18px;
