// General
$gutter: 20px;
$breakpoint-1: 600px;

// Colors
$color-1: #1099c3;
$color-2: #f7f7f7;
$color-3: #31315d;
$color-4: #e4491c;

// Typography
//@import url('https://fonts.googleapis.com/css?family=Asap:400,700');
@font-face {
	font-family: "Asap", sans-serif;
	font-style: normal;
	font-weight: 400;
	src: local("Asap Regular"), local("Asap-Regular"),
		url(/assets/fonts/asap.ttf) format("truetype");
}
//@font-face {
//  font-family: 'Asap';
//  font-style: normal;
//  font-weight: 700;
//  src: local('Asap Bold'), local('Asap-Bold'), url(/assets/fonts/asap_bold.ttf) format('truetype');
//}
$font-type-1: "Asap", sans-serif;
$font-size: 18px;
