@import "variables";

body {
	background: $color-3;
	color: $color-2 !important;
}
#main {
	background: $color-3;
}
header {
	background-color: $color-5;
}
section#work {
	background: $color-3;
	color: $color-2;
}
section#work .work-items .work-item {
	background: $color-5;
	box-shadow: 5px 5px darken($color-5, 5%);
	border: 2px solid darken($color-5, 5%);
}
section#work .work-items .work-item .button {
	background: $color-3;
	box-shadow: 5px 5px darken($color-5, 5%);
	border: 2px solid darken($color-5, 5%);
	color: $color-2;
}
.sarcasticwhite path {
	stroke: $color-2;
}
section#about {
	background: $color-5;
}
footer {
	background: $color-3;
	color: $color-2;
}
footer .site-meta ul li a svg {
	fill: $color-2;
}
.totop {
	background: $color-5;
}
.about {
	background: $color-5;
	color: $color-2;
}
.about footer {
	background: $color-5;
}
.contact {
	color: $color-2;
}
.contact input[type="text"],
.contact input[type="email"],
.contact textarea {
	background: $color-5 !important;
	color: $color-2;
	border-color: $color-5;
	&::placeholder {
		color: $color-3;
		opacity: 1;
	}
}
.contact input[type="submit"],
.contact input[type="reset"] {
	background: $color-5;
	border: 2px solid $color-5;
	color: $color-2;
}
.contact input[type="reset"] {
	background: transparent;
	border: 2px solid $color-5;
}
.contact input[type="submit"]:hover,
.contact input[type="reset"]:hover {
	background: #111;
	border-color: #111;
}
.contact input[type="reset"]:hover {
	background: transparent;
}
nav[aria-label="posts"] {
	color: $color-2;
}
nav[aria-label="posts"] ul li hr,
hr {
	border-top: 2px dashed $color-5;
}
nav[aria-label="posts"] ul li hr:after,
hr:after {
	background: $color-5;
}
#pagination ul li a {
	background: transparent;
	color: $color-2;
}
#pagination ul li a.current {
	background: $color-2;
	color: $color-3;
}
#main.post {
	color: $color-2;
}
code,
pre {
	background: $color-5;
}
.dialog {
	background: $color-5;
}
.dialog .close-dialog svg {
	fill: $color-2;
}
.dialog .lighthouse .item > p {
	color: $color-2;
}

hr.stop {
	border-top: 2px dashed $color-5;
}
.darkmode span.inverted {
	nav[aria-label="site"] {
		ul li a {
			color: $color-2;
		}
		button {
			@media (max-width: 600px) {
				&:after {
					color: $color-2;
				}
			}
			span {
				svg {
					path {
						stroke: $color-2;
					}
					circle {
						stroke: $color-2;
					}
				}
			}
		}
	}
}
.post svg {
	background: #f4f4f4;
	stroke: #19191a;
}
table {
	thead {
		tr {
			th {
				border: 2px solid #f4f4f4;
			}
		}
	}
	tbody {
		tr {
			td {
				border: 2px solid #f4f4f4;
			}
		}
	}
}
