@font-face {
  font-family: "Asap", sans-serif;
  font-style: normal;
  font-weight: 400;
  src: local("Asap Regular"), local("Asap-Regular"), url(/assets/fonts/asap.ttf) format("truetype");
}
body {
  background: #0d0f12;
  color: #f2f2f2 !important;
}

nav[aria-label=site] ul li a {
  color: #f2f2f2;
}

nav[aria-label=site] button span svg path {
  stroke: #f2f2f2;
}
nav[aria-label=site] button span svg circle {
  stroke: #f2f2f2;
}

#main {
  background: #0d0f12;
}

header {
  background-image: url("/assets/img/bg-dark.svg");
  background-color: #353537;
  color: #f2f2f2;
}
header.blog, header.about, header.snippets {
  background-image: url("/assets/img/bg-dark.svg");
}

section#work {
  background: #0d0f12;
  color: #f2f2f2;
}

section#work .work-items .work-item,
.card {
  background: #353537;
  box-shadow: 5px 5px #28282a;
  border: 2px solid #28282a;
  color: #f2f2f2;
}

section#work .work-items .work-item .button {
  background: #0d0f12;
  box-shadow: 5px 5px #28282a;
  border: 2px solid #28282a;
  color: #f2f2f2;
}
section#work .work-items .work-item .button:hover {
  transform: translate(2px, 2px);
  box-shadow: 3px 3px #28282a;
}
section#work .work-items .work-item .button:hover:active {
  transform: translate(3px, 3px);
  box-shadow: 0px 0px #28282a;
}

.sarcasticwhite path {
  stroke: #f2f2f2;
}

section#about {
  background: #353537;
}
section#about nav[aria-label=posts] ul.small li {
  border-color: #f2f2f2;
}

footer {
  background-image: url("/assets/img/bg4-dark.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top right;
  color: #f2f2f2;
}

footer .site-meta ul li a svg {
  fill: #f2f2f2;
}

header.blog ~ footer,
main.blog ~ footer,
header.about ~ footer,
header.snippets ~ footer {
  background-color: #0d0f12;
}

.totop {
  background: #353537;
}

.about {
  background: #353537;
  color: #f2f2f2;
}

.contact {
  color: #f2f2f2;
}

.contact input[type=text],
.contact input[type=email],
.contact textarea {
  background: #353537 !important;
  color: #f2f2f2;
  border-color: #353537;
}
.contact input[type=text]::-moz-placeholder, .contact input[type=email]::-moz-placeholder, .contact textarea::-moz-placeholder {
  color: #f2f2f2;
  opacity: 0.5;
}
.contact input[type=text]::placeholder,
.contact input[type=email]::placeholder,
.contact textarea::placeholder {
  color: #f2f2f2;
  opacity: 0.5;
}

.contact input[type=submit],
.contact input[type=reset] {
  background: #353537;
  border: 2px solid #353537;
  color: #f2f2f2;
}

.contact input[type=reset] {
  background: transparent;
  border: 2px solid #353537;
}

.contact input[type=submit]:hover,
.contact input[type=reset]:hover {
  background: #111;
  border-color: #111;
}

.contact input[type=reset]:hover {
  background: transparent;
}

nav[aria-label=posts] {
  color: #f2f2f2;
}

nav[aria-label=posts] ul li hr,
hr {
  border-top: 2px dashed #353537;
}

nav[aria-label=posts] ul li hr:after,
hr:after {
  background: #353537;
}

#pagination ul li a {
  background: transparent;
  color: #f2f2f2;
}

#pagination ul li a.current {
  background: #f2f2f2;
  color: #0d0f12;
}

#main.post {
  color: #f2f2f2;
}

code,
pre {
  background: #353537;
}

.dialog {
  background: #353537;
}

.dialog .close-dialog svg {
  fill: #f2f2f2;
}

.dialog .lighthouse .item > p {
  color: #f2f2f2;
}

hr.stop {
  border-top: 2px dashed #353537;
}

.darkmode span.inverted nav[aria-label=site] ul li a {
  color: #f2f2f2;
}
@media (max-width: 600px) {
  .darkmode span.inverted nav[aria-label=site] button:after {
    color: #f2f2f2;
  }
}
.darkmode span.inverted nav[aria-label=site] button span svg path {
  stroke: #f2f2f2;
}
.darkmode span.inverted nav[aria-label=site] button span svg circle {
  stroke: #f2f2f2;
}

.post svg {
  background: #f2f2f2;
  stroke: #353537;
}

table thead tr th {
  border: 2px solid #f2f2f2;
}
table tbody tr td {
  border: 2px solid #f2f2f2;
}

nav.pagination ul li a[aria-current=page] {
  background: #f2f2f2;
  color: #31315d;
  border-radius: 3px;
  box-shadow: 3px 3px #28282a;
}

.card .card-header {
  border-color: #f2f2f2;
}

.card .card-header:before {
  background-color: #f2f2f2;
}

.card .card-body #table g {
  stroke: #f2f2f2 !important;
}

/* Table snippet */
svg#table-demo g {
  stroke: #f2f2f2;
}

table {
  color: #f2f2f2 !important;
}

table caption {
  background: black;
  color: #f2f2f2;
}

table thead,
table tfoot {
  background: black !important;
  color: #f2f2f2;
}

table tr:nth-of-type(2n) {
  background-color: #040506;
}

/* Checkbox Snippet */
.checkbox .checkbox-label {
  background: #e5e5e5 !important;
}

.checkbox .checkbox-label:after {
  background: #8c8c8c !important;
  border: 2px solid #e5e5e5;
}

.checkbox .checkbox-input:checked ~ label:after {
  background: #353537 !important;
  border: 2px solid #e5e5e5;
}

.checkbox .checkbox-input:disabled ~ label:after {
  border-color: transparent;
}

/* Dialog Snippet */
svg#dialog-demo rect:first-child {
  fill: #353537;
}
svg#dialog-demo path {
  stroke: #f2f2f2;
}
svg#dialog-demo path:nth-child(2) {
  fill: #0d0f12;
  stroke: #31315d;
}

.dialog-example h1#dialog-title,
.dialog-example p {
  color: #31315d !important;
}

/* Radio button Snippet */
.radio-wrapper > [type=radio] + span {
  border: 0.2rem solid #f2f2f2 !important;
}

.radio-wrapper > [type=radio] + span::after {
  background: #f2f2f2 !important;
}/*# sourceMappingURL=darkmode.css.map */