@import "variables";
/********* TABLE RESET *********/
table {
	border-collapse: default;
	border: none;
	thead {
		text-align: default;
		tr {
			th {
				border: none;
				padding: 0;
			}
		}
	}
	tbody {
		tr {
			td {
				border: none;
				padding: 0;
			}
		}
	}
}

/********* TABLE SNIPPET *********/
table {
	width: 100%;
	border-collapse: collapse;
	color: $color-3;
	font-size: 1rem;
}

table caption,
table thead tr th,
table tbody tr td,
table tfoot tr th {
	padding: 0.5rem;
}

caption,
th {
	text-align: left;
}

caption {
	background-color: $color-3;
	color: $color-2;
	font-size: 1rem;
	font-weight: bold;
	text-transform: uppercase;
}

th {
	background-color: $color-2-5;
}
.darkmode th {
	background-color: $color-3;
}

tr:nth-of-type(2n) {
	background-color: $color-2-5;
}

@media (max-width: 768px) {
	th {
		display: none;
	}
	td {
		display: block;
		display: grid;
		gap: 0.5rem;
		grid-template-columns: 15ch auto;
		padding: 0.5rem 1rem;
	}
	td::before {
		content: attr(data-cell) ": ";
		font-weight: bold;
		text-transform: capitalize;
	}
}
