.icon.rss {
    @media (max-width: 768px) {
        display: block;
        margin: 0 auto;
    }
}

.posts-container {
    ul#posts-list {
        margin-bottom: 3.5em;
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            margin-bottom: 2.5em;

            h2 {
                color: var(--color-primary);
                font-size: 2.5em;
                margin: 0;

                @media (max-width: 768px) {
                    font-size: 1.75em;
                }
            }

            time.post-date {
                color: var(--color-text);
                font-size: 1.35em;

                @media (max-width: 768px) {
                    font-size: 1.15em;
                }

                font-style: italic;
            }

            p.excerpt {
                font-size: 1.35em;
                color: var(--color-text);

                @media (max-width: 768px) {
                    font-size: 1.25em;
                }
            }

            span.categories {
                color: var(--color-text);
                font-size: 1.35em;

                @media (max-width: 768px) {
                    font-size: 1.15em;
                }

                display: block;
            }

            hr {
                border: 0;
                height: 0.1em;
                background-color: var(--color-bg-offset);
                margin: 1em 0;
            }
        }
    }
}

#post {
    h1 {
        margin-top: 3em;
        font-size: 3em;
        color: var(--color-primary);

        @media (max-width: 768px) {
            margin-top: 1em;
            font-size: 2.5em;
        }
    }

    .timestamp {
        color: var(--color-text);
        font-size: 1.35em;
    }

    hr {
        border: 0;
        height: 0.1em;
        background-color: var(--color-bg-offset);
        margin: 2em 0;
    }

    @media not (prefers-reduced-motion: reduce) {

        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p,
        b,
        i,
        strong,
        em,
        small,
        ul,
        ol,
        li,
        dl,
        dt,
        dd,
        pre,
        code,
        blockquote,
        del,
        ins,
        a {
            animation: fade-in linear both;
            animation-timeline: view();
            animation-range: entry 20% cover 20%;
        }
    }
}