.site-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;

    .logo {
        font-size: 1.5rem;
        font-weight: 700;
        display: flex;

        &:after {
            display: none;
        }

        @media(max-width: 768px) {
            text-align: center;
            justify-content: center;
            margin-bottom: 2rem;
        }

        img {
            height: 3rem;
            width: 3rem;
            border-radius: 50%;
            margin-right: 1rem;
        }

        span {
            line-height: 3rem;
            color: var(--color-text);
        }
    }

    .menu {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: flex-end;
        list-style: none;
        margin: 0;
        padding: 0;

        @media(max-width: 768px) {
            text-align: center;
            justify-content: center;
        }

        .item {
            margin: 0;
            padding: 0;
            margin-left: 1.25rem;

            @media (max-width: 768px) {
                margin: 0.5em !important;
            }

            &.active {
                a:after {
                    background-color: var(--color-primary) !important;
                    transform: none;
                }
            }

            a {
                position: relative;
                text-decoration: none;
                color: var(--color-text);

                &:after {
                    content: "";
                    display: block;
                    height: 3px;
                    background-color: var(--color-border);
                    position: absolute;
                    left: 0rem;
                    right: 0rem;
                    bottom: -0.75rem;
                    transform: scaleX(0);
                    transform-origin: 0 50%;
                    transition: transform .3s cubic-bezier(.86, 0, .07, 1);
                }

                &:hover {
                    &:after {
                        transform: scaleX(1);
                    }
                }
            }
        }
    }

    .cta {
        @media (max-width: 768px) {
            display: block;
        }

        .btn {
            margin-left: 1rem;
            padding: 0;
            background: var(--color-bg-offset);
            border: 0;
            border-radius: 50%;
            width: 2.5rem;
            height: 2.5rem;
            line-height: 0;
            color: var(--color-primary);
            cursor: pointer;

            svg {
                transition: transform 0.3s ease-in-out;
            }

            &:hover {
                svg {
                    transform: rotate(180deg);
                }
            }
        }
    }
}