.article-progress {
    width: 100vw;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background: none;
    height: 0.15em;
    z-index: 999;

    .article-progress-inner {
        width: 0;
        height: 100%;
        background-color: var(--color-primary);
    }
}