@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes slide-to-left {
    0% {
        transform: translateX(-2rem);
    }

    100% {
        transform: translateX(0rem);
    }
}

@keyframes slide-to-right {
    0% {
        transform: translateX(0rem);
    }

    100% {
        transform: translateX(-2rem);
    }
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-1em);
    }

    100% {
        transform: translatey(0px);
    }
}

@media not (prefers-reduced-motion: reduce) {

    ::view-transition-old(root) {
        animation: fade-out 350ms cubic-bezier(0, 0, 0.2, 1);
        // animation: fade-out 350ms cubic-bezier(0, 0, 0.2, 1), slide-to-right 350ms cubic-bezier(0, 0, 0.2, 1);
    }

    ::view-transition-new(root) {
        animation: fade-in 350ms cubic-bezier(0, 0, 0.2, 1);
        // animation: fade-in 350ms cubic-bezier(0, 0, 0.2, 1), slide-to-left 350ms cubic-bezier(0, 0, 0.2, 1);
        mix-blend-mode: normal;
    }

    ::view-transition-old(article-title),
    ::view-transition-old(article-title) {
        mix-blend-mode: normal;
    }

    .post-transition-start {
        view-timeline-name: article-title;
    }

    .post-transition-end {
        view-timeline-name: article-title;
    }

    #components-animation {
        animation: float 6s ease-in-out infinite;
    }

}

@keyframes appear {
    from {
        opacity: 0;
        scale: 0.75;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}

.animate {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry -200% cover 40%;
}